<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class = "register-container">
        <div *ngIf="userType === 'company'">
            <div class = "register-row">
                <div class = "register-column">Full name: </div>
                <div class = "register-column"> <input type="text" name="name" [(ngModel)]="user.fullName" required/> </div>
                <div class = "register-column"> <div *ngIf = "flags.firstNameEmpty" class = "message">Please, provide company's full name.</div> </div>
            </div>
            <div class = "register-row">
                <div class = "register-column">Short name:</div>
                <div class = "register-column"><input type="text" name="username" [(ngModel)]="user.username" required/>  </div>
                <div class = "register-column"> <div *ngIf = "flags.usernameEmpty" class = "message">Please, provide company's short name.</div> </div>
            </div>
            
            <div class = "register-row">
                <div class = "register-column">Password:</div>
                <div class = "register-column">
                    <input *ngIf = "!flags.showPassword" type="password" name="password" [(ngModel)]="user.password" required/> 
                    <input *ngIf = "flags.showPassword" type="text" name="password" [(ngModel)]="user.password" required/> 
                    <input type="checkbox" (change)="handleShowPassword()"/>Show Password 
                </div> 
                <div class = "register-column"> 
                    <div *ngIf = "flags.passwordEmpty" class = "message">Please, provide your password.</div> 
                    <div *ngIf = "flags.passwordNotStrong" class = "message">Wrong password format.</div> 
                </div>
            </div>
            
            <div class = "register-row">
                <div class = "register-column">Confirm password:</div>
                <div class = "register-column">
                    <input *ngIf = "!flags.showConfirmedPassword" type="password" name="confirmedPassword" [(ngModel)]="confirmedPassword" required/> 
                    <input *ngIf = "flags.showConfirmedPassword" type="text" name="confirmedPassword" [(ngModel)]="confirmedPassword" required/> 
                    <input type="checkbox" (change)="handleShowConfirmedPassword()"/>Show Password 
                </div> 
                <div class = "register-column"> 
                    <div *ngIf = "flags.confirmedPasswordEmpty" class = "message">Please, confirm password.</div> 
                    <div *ngIf = "flags.confirmedPasswordNotStrong" class = "message">Wrong password format.</div> 
                </div>
            </div>

            <div class = "register-row">
                <div class = "register-column">Establishment date:</div>
                <div class = "register-column"><input type="date" name="date" [(ngModel)]="user.date" required/> </div> 
                <div class = "register-column"> <div *ngIf = "flags.dateOfBirthEmpty" class = "message">Please, provide company's date of establishment.</div> </div>
            </div>

            <div class = "register-row">
                <div class = "register-column">Place:</div>
                <div class = "register-column"><input type="text" name="place" [(ngModel)]="user.place" required/> </div>
                <div class = "register-column"> <div *ngIf = "flags.placeOfBirthEmpty" class = "message">Please, provide company's place.</div> </div> 
            </div>

            <div class = "register-row">
                <div class = "register-column">Email:</div>
                <div class = "register-column"><input type="text" name="email" [(ngModel)]="user.email" required/> </div> 
                <div class = "register-column"> 
                    <div *ngIf = "flags.mailEmpty" class = "message">Please, provide your email.</div> 
                    <div *ngIf = "flags.mailFormatWrong" class = "message">Wrong email format.</div>
                </div>
            </div>

            <div class = "register-row">
                <div class = "register-column"><button [disabled]="!flags.recaptchaClicked">Register</button></div>
                <div class = "register-column"> 
                    <div *ngIf = "flags.differentConfirmedPassword" class = "message">Password and confirmed password don't match.</div>
                    <div *ngIf = "flags.somethingWentWring" class = "message">{{message}}</div>
                </div>
            </div>
            <div class = "register-row">
                <div class = "register-column">
                    <re-captcha
                        (resolved)="recaptchaClicked()"
                        siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"

                    ></re-captcha>
                </div>
                <div class = "register-column"></div>
            </div>
        </div>
        <div *ngIf="userType === 'farmer'">
            <div class = "register-row">
                <div class = "register-column">Name:</div>
                <div class = "register-column"> <input type="text" name="name" [(ngModel)]="user.name" required/> </div>
                <div class = "register-column"> <div *ngIf = "flags.firstNameEmpty" class = "message">Please, provide your name.</div> </div>
            </div>
            <div class = "register-row">
                <div class = "register-column">Lastname:</div>
                <div class = "register-column"><input type="text" name="lastname" [(ngModel)]="user.lastname" required/>  </div>
                <div class = "register-column"> <div *ngIf = "flags.lastNameEmpty" class = "message">Please, provide your lastname.</div> </div>
            </div>
            
            <div class = "register-row">
                <div class = "register-column">Username:</div> 
                <div class = "register-column"><input type="text" name="username" [(ngModel)]="user.username" required/> </div>  
                <div class = "register-column"> <div *ngIf = "flags.usernameEmpty" class = "message">Please, provide your username.</div> </div>  
            </div>
            
            <div class = "register-row">
                <div class = "register-column">Password:</div>
                <div class = "register-column">
                    <input *ngIf = "!flags.showPassword" type="password" name="password" [(ngModel)]="user.password" required/> 
                    <input *ngIf = "flags.showPassword" type="text" name="password" [(ngModel)]="user.password" required/> 
                    <input type="checkbox" (change)="handleShowPassword()"/>Show Password 
                </div> 
                <div class = "register-column"> 
                    <div *ngIf = "flags.passwordEmpty" class = "message">Please, provide your password.</div> 
                    <div *ngIf = "flags.passwordNotStrong" class = "message">Wrong password format.</div> 
                </div>
            </div>
            
            <div class = "register-row">
                <div class = "register-column">Confirm password:</div>
                <div class = "register-column">
                    <input *ngIf = "!flags.showConfirmedPassword" type="password" name="confirmedPassword" [(ngModel)]="confirmedPassword" required/> 
                    <input *ngIf = "flags.showConfirmedPassword" type="text" name="confirmedPassword" [(ngModel)]="confirmedPassword" required/> 
                    <input type="checkbox" (change)="handleShowConfirmedPassword()"/>Show Password
                </div> 
                <div class = "register-column"> 
                    <div *ngIf = "flags.confirmedPasswordEmpty" class = "message">Please, confirm password.</div> 
                    <div *ngIf = "flags.confirmedPasswordNotStrong" class = "message">Wrong password format.</div> 
                </div>
            </div>

            <div class = "register-row">
                <div class = "register-column">Date of birth:</div>
                <div class = "register-column"><input type="date" name="date" [(ngModel)]="user.date" required/> </div> 
                <div class = "register-column"> <div *ngIf = "flags.dateOfBirthEmpty" class = "message">Please, provide your date of birth.</div> </div>
            </div>

            <div class = "register-row">
                <div class = "register-column">Place of birth:</div>
                <div class = "register-column"><input type="text" name="place" [(ngModel)]="user.place" required/> </div>
                <div class = "register-column"> <div *ngIf = "flags.placeOfBirthEmpty" class = "message">Please, provide your place of birth.</div> </div> 
            </div>

            <div class = "register-row">
                <div class = "register-column">Phone:</div>
                <div class = "register-column"><input type="text" name="phone" [(ngModel)]="user.phone" required/> </div> 
                <div class = "register-column"> <div *ngIf = "flags.phoneEmpty" class = "message">Please, provide your phone.</div> </div>
            </div>

            <div class = "register-row">
                <div class = "register-column">Email:</div>
                <div class = "register-column"><input type="text" name="email" [(ngModel)]="user.email" required/> </div> 
                <div class = "register-column"> 
                    <div *ngIf = "flags.mailEmpty" class = "message">Please, provide your email.</div> 
                    <div *ngIf = "flags.mailFormatWrong" class = "message">Wrong email format.</div>
                </div>
            </div>

            <div class = "register-row">
                <div class = "register-column"><button [disabled]="!flags.recaptchaClicked">Register</button></div>
                <div class = "register-column"> 
                    <div *ngIf = "flags.differentConfirmedPassword" class = "message">Passwords don't match.</div> 
                    <div *ngIf = "flags.somethingWentWring" class = "message">{{message}}</div>
                </div>
            </div>
            <div class = "register-row">
                <div class = "register-column">
                    <re-captcha
                        (resolved)="recaptchaClicked()"
                        siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"
                    ></re-captcha>
                </div>
                <div class = "register-column"></div>
            </div>
        </div>

        <div class = "register-row">
            <div class = "register-column"> 
                <label for="male">Choose user type</label>
            </div>
            <div class = "register-column"> 
                <input type="radio" id="farmer" name="userType" value="farmer" (change)="changeUserType($event)">
                <label for="male">Farmer</label>
                <input type="radio" id="company" name="userType" value="company" (change)="changeUserType($event)">
                <label for="female">Company</label>
            </div>
            <div class = "register-column"></div>
        </div>
        
    </div>
</form>