.order-container{
    background-color: blanchedalmond;
    padding: auto;
    margin: auto;
    margin-top: 5%;
    width: 35%;
    min-width: 450px;
}

.info-container {
    padding: 10px;
}

.order-row{
    width: 90%;
    display: flex;
    flex-flow: row;
    margin: auto;
    padding: auto;
    align-items: flex-start;
    text-align: left;
}

.order-column-title{
    font-size: medium;
    font-weight: normal;
    float: left;
    width: 30%;
}

.order-column-value{
    float: left;
    width: 70%;
}

.product-container {
    padding: 5px;
}

.order-column-comment{
    float: left;
    width: 90%;
    margin: auto;
    font-size: medium;
}

.title{
    font-size: larger;
    font-weight: bold;
}

.message{
    color: darkred;
    font-size: medium;
    font-weight: bold;
}