.registration-request-container{
    background-color: blanchedalmond;
    padding: auto;
    margin: auto;
    margin-top: 5%;
}

.header{
    background-color: #45aba6;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    font-weight: bold;
    font-size: medium;
}

.table-name{
    font-weight: bold;
    font-size: large;
    width: 100%;
    padding-top: 7px;
    padding-left: 10px;
}

.registration-request-row{
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: 10px 0;
    align-items: center;
    text-align: center;
}

.registration-request-farmer-column{
    width: 12.5%;
}

.registration-request-company-column{
    width: 16.66%;
}

.message{
    color: darkred;
}