<div class="garden-container" *ngIf="garden">
    <div class="garden-container-info">
        <div class="garden-row-info">
            <b>Name</b> : {{garden.name}}
        </div>
        <div class="garden-row-info">
            <b>Producer</b> : {{garden.producer}}
        </div>
        <div class="garden-row-info">
            <b>Free Slots</b> : {{garden.free_slots}}
        </div>
        <div class="garden-row-info">
            <b>Occupied Slots</b> : {{garden.occupied_slots}}
        </div>
        <div class="garden-row-info">
            <b>Water</b> : {{garden.water}}
        </div>
        <div class="garden-row-info">
            <button (click) = "addWater()">Add</button> &nbsp; <button (click) = "substractWater()">Substract</button>
        </div>
        <div class="garden-row-info">
            <b>Temperature</b> : {{garden.temperature}}
        </div>
        <div class="garden-row-info">
            <button (click) = "addTemp()">Add</button> &nbsp; <button (click) = "substractTemp()">Substract</button>
        </div>
    </div>
    <div class="garden-container-seedlings">
        Seedlings
    </div>
</div>
