<div class="farmer-container">
    <div class="farmer-row header">
        Gardens:
    </div>
    <div class="farmer-row-garden">
        <div class="farmer-column-garden">
            Name
        </div>
        <div class="farmer-column-garden">
            Place
        </div>
        <div class="farmer-column-garden">
            Occupied slots
        </div>
        <div class="farmer-column-garden">
            Free slots
        </div>
        <div class="farmer-column-garden">
            Water(liters)
        </div>
        <div class="farmer-column-garden">
            Temperature(Celsius)
        </div>
        <div class="farmer-column-garden">
            Details
        </div>
        <div class="farmer-column-garden">
            Werehouse
        </div>
    </div>
    <div *ngIf="gardens">
        <div *ngFor="let garden of gardens" class="farmer-row-garden">
            <div class="farmer-column-garden">
                {{garden.name}}
            </div>
            <div class="farmer-column-garden">
                {{garden.place}}
            </div>
            <div class="farmer-column-garden">
                {{garden.occupied_slots ? garden.occupied_slots : 0}}
            </div>
            <div class="farmer-column-garden">
                {{garden.free_slots}}
            </div>
            <div class="farmer-column-garden">
                {{garden.water}}
            </div>
            <div class="farmer-column-garden">
                {{garden.temperature}}
            </div>
            <div class="farmer-column-garden">
                <button (click)="detailsClicked(garden.id)">Details</button>
            </div>
            <div class="farmer-column-garden">
                <button (click)="warehouseClicked(garden.id)">Werehouse</button>
            </div>
        </div>
        <div *ngFor="let garden of gardensToMaintenance">
            <div class = "farmer-row-garden">
                <div class="message">Garden {{garden.name}} requires maintenance</div>
            </div>
        </div>
    </div>
</div>