<div class="company-container">
    <div class="company-row header">
        Products:
    </div>
    <div class="company-row">
        <div class="company-column-product">
            Name
        </div>
        <div class="company-column-product">
            Price
        </div>
        <div class="company-column-product">
            Available
        </div>
        <div class="company-column-product">
            Archived
        </div>
        <div class="company-column-product">
            Details
        </div>
    </div>
    <div *ngIf="products !== undefined && products.length > 0">
        <div *ngFor="let product of products">
            <div class="company-row">
                <div class="company-column-product">
                    {{product.name}}
                </div>
                <div class="company-column-product">
                    {{product.price}}
                </div>
                <div class="company-column-product">
                    {{product.available}}
                </div>
                <div class="company-column-product">
                    <input type="checkbox" [checked]="product.archived"
                    [disabled]="true">
                </div>
                <div class="company-column-product">
                    <button (click) = "handleProductDetailsClicked(product)">Details</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="company-row">
            <div class="company-column-product">
                <button (click) = "handleAddProductClicked()">Add product</button>
            </div>
            <div class="company-column-product">
            </div>
            <div class="company-column-product">
            </div>
            <div class="company-column-product">
            </div>
        </div>
    </div>
</div>
<div class="company-container">
    <div class="company-row header">
        Orders:
    </div>
    <div class="company-row">
        <div class="company-column-order">
            Farmer's name:
        </div>
        <div class="company-column-order">
            <button class="btn default" (click) = "sortOrders()">Date of order:</button>
        </div>
        <div class="company-column-order">
            Status:
        </div>
        <div class="company-column-order">
            Date of completion:
        </div>
        <div class="company-column-order">
            Details:
        </div>
    </div>
    <div *ngIf="orders !== undefined && orders.length > 0">
        <div *ngFor="let order of orders">
            <div class="company-row">
                <div class="company-column-order">
                    {{order.name}}
                </div>
                <div class="company-column-order">
                    <input type="date"  [ngModel]="order.date_of_order | date:'yyyy-MM-dd'" 
                        readonly name="date">
                </div>
                <div class="company-column-order">
                    <div *ngIf="order.status !== 'Received'">
                        <select (change)="changeStatus($event, order.id)" [(ngModel)]="order.status">
                            <option *ngFor="let status of posibleStatuses">{{status}}</option>
                        </select>
                    </div>
                    <div *ngIf="order.status == 'Received'">
                        <button (click) = "orderChangeStatus(order.id, true)">Accept</button>
                        <button (click) = "orderChangeStatus(order.id, false)">Reject</button>
                    </div>
                </div>
                <div class="company-column-order">
                    <input *ngIf="order.date_of_completion !== null" type="date"  [ngModel]="order.date_of_completion | date:'yyyy-MM-dd'" 
                        readonly name="date">
                </div>
                <div class="company-column-order">
                    <button (click) = "handleOrderDetailsClicked(order)" >Details</button>
                </div>
            </div>
        </div>
    </div>
      
    <div class="company-row">
        <div class="company-column-order">
            <button (click) = "handleCheckReportClicked()">Check report</button>
        </div>
        <div class="company-column-order">
        </div>
        <div class="company-column-order">
        </div>
        <div class="company-column-order">
        </div>
        <div class="company-column-order">
        </div>
    </div>
</div>