<div class="warehouse-container">
    <div class="warehouse-row header">
        Products:
    </div>
    <div class="warehouse-row-garden">
        <div class="warehouse-column-garden">
            Name
        </div>
        
    </div>
    <div *ngIf="products">
        <div *ngFor="let product of products" class="warehouse-row-garden">
            <div class="warehouse-column-garden">
                {{product.name}}
            </div>
        </div>
    </div>
    <br />
    <br />
    <button (click) = "onlineShopClicked()">Online shop</button>
</div>