<div class="orders-container">
    <div class="orders-row header">
        Orders:
    </div>
    <div class="orders-row">
        <div class="orders-column-order">
            Company's name:
        </div>
        <div class="orders-column-order">
            Date of order:
        </div>
        <div class="orders-column-order">
            Status:
        </div>
        <div class="orders-column-order">
            Details:
        </div>
        <div class="orders-column-order">
            Reject:
        </div>
    </div>
    <div *ngIf="orders !== undefined && orders.length > 0">
        <div *ngFor="let order of orders">
            <div class="orders-row">
                <div class="orders-column-order">
                    {{order.fullname}}
                </div>
                <div class="orders-column-order">
                    <input type="date"  [ngModel]="order.date_of_order | date:'yyyy-MM-dd'" 
                        readonly name="date">
                </div>
                <div class="orders-column-order">
                    <input type="text"  [ngModel]="order.status" readonly name="status">
                </div>
                <div class="orders-column-order">
                    <button (click)="detailsClicked(order.id)">Details</button>
                </div>
                <div class="orders-column-order">
                    <button *ngIf="order.status !== 'Rejected'" (click)="rejectClicked(order.id)">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>