.farmer-container{
    background-color: blanchedalmond;
    padding: auto;
    margin: auto;
    margin-top: 5%;
    width: 35%;
}

.farmer-row{
    width: 100%;
    display: flex;
    flex-flow: row;
    margin: 10px 0;
    align-items: center;
    text-align: center;
}

.farmer-column{
    width: 33%;
}

.farmer-option-column{
    width: 25%;
}

.message{
    color: darkred;
}