<div class="farmer-container">
    <div class="farmer-row">
        <div class="farmer-option-column">
            
        </div>
        <div class="farmer-option-column">
            
        </div>
        <div class="farmer-option-column">
        </div>
        <div class="farmer-option-column">
            <button (click)="back()">Back to list </button>
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-column">
            Name
        </div>
        <div class="farmer-column">
            <input *ngIf="user !== null" type="text" [(ngModel)]="tempUser.name" name="name" required>
            <input *ngIf="user == null" type="text" [(ngModel)]="addFarmer.name" name="name" required>
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-column">
            Lastname
        </div>
        <div class="farmer-column">
            <input *ngIf="user !== null" type="text" [(ngModel)]="tempUser.lastname" name="lastname" required>
            <input *ngIf="user == null" type="text" [(ngModel)]="addFarmer.lastname" name="lastname" required>
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-column">
            Email
        </div>
        <div class="farmer-column">
            <input *ngIf="user !== null" type="text" [(ngModel)]="tempUser.email" name="email" required>
            <input *ngIf="user == null" type="text" [(ngModel)]="addFarmer.email" name="email" required>
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-column">
            Username
        </div>
        <div class="farmer-column">
            <input *ngIf="user !== null" type="text" [(ngModel)]="tempUser.username" name="username" required>
            <input *ngIf="user == null" type="text" [(ngModel)]="addFarmer.username" name="username" required>
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-column">
            Passoword
        </div>
        <div class="farmer-column">
            <input *ngIf="user !== null" type="text" [(ngModel)]="tempUser.password" name="password" required>
            <input *ngIf="user == null" type="text" [(ngModel)]="addFarmer.password" name="password" required>
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-column">
            Date of birth
        </div>
        <div class="farmer-column">
            <input *ngIf="user !== null" type="date"  [ngModel]="tempUser.date | date:'yyyy-MM-dd'" 
                (ngModelChange)="tempUser.date = $event" name="date">
            <input *ngIf="user === null" type="date"  [ngModel]="addFarmer.date | date:'yyyy-MM-dd'" 
                (ngModelChange)="addFarmer.date = $event" name="date">
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-column">
            Place of birth
        </div>
        <div class="farmer-column">
            <input *ngIf="user !== null" type="text" [(ngModel)]="tempUser.place" name="place" required>
            <input *ngIf="user === null" type="text" [(ngModel)]="addFarmer.place" name="place" required>
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-column">
            Phone
        </div>
        <div class="farmer-column">
            <input *ngIf="user !== null" type="text" [(ngModel)]="tempUser.phone" name="phone" required>
            <input *ngIf="user == null" type="text" [(ngModel)]="addFarmer.phone" name="phone" required>
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-column">
            Confirmed
        </div>
        <div class="farmer-column">
            <input *ngIf="user !== null" type="checkbox" [(ngModel)]="tempUser.confirmed" name="confirmed">
            <input *ngIf="user == null" type="checkbox" [(ngModel)]="addFarmer.confirmed" name="confirmed">
        </div>
    </div>
    <div class="farmer-row">
        <div class="farmer-option-column message">
            {{message}}
        </div>
        <div class="farmer-option-column">
            
        </div>
        <div class="farmer-option-column">
            <button *ngIf="user !== null" (click)="handleUpdate()">Update</button>
            <button *ngIf="user === null" (click)="handleUpdate()">Add</button>
        </div>
        <div class="farmer-option-column">
            <button (click)="back()">Cancel</button>
        </div>
    </div>
</div>