<div class="change-password-container">
        
    <div class="change-password-row">
        <div class="change-password-column">Old password:</div>
        <div class="change-password-column">
            <input type="text" name="oldPassword" [(ngModel)]="oldPassword"/>
        </div>
        <div class="change-password-column message">
            <div *ngIf="emptyOldPassword">
                Please enter old password.
            </div>
            <div *ngIf="wrongOldPassword">
                Current and entered old password don't match.
            </div>
        </div>
    </div>
    <div class="change-password-row">
        <div class="change-password-column">New password:</div>
        <div class="change-password-column">
            <input type="text" name="newPassword" [(ngModel)]="newPassword"/>
        </div>
        <div class="change-password-column message">
            <div *ngIf="emptyNewPassword">
                Please enter old password.
            </div>
            <div *ngIf="newPasswordWrongForamt">
                Wrong password format.
            </div>
            <div *ngIf="sameAsOld">
                New password can't be same as old.
            </div>
        </div>
    </div>
    <div class="change-password-row">
        <div class="change-password-column">Confirm new password:</div>
        <div class="change-password-column">
            <input type="text" name="confirmedPassword" [(ngModel)]="confirmedPassword"/>
        </div>
        <div class="change-password-column message">
            <div *ngIf="emptyConfirmedPassword">
                Please confirm your password;
            </div>
            <div *ngIf="newAndConfirmedPasswordsDontMatch">
                New and confirmed password don't match.
            </div>
        </div>
    </div>
    <div class="change-password-row">
        <div class="change-password-column"><button (click) = "changePass()" >Submit</button></div>
        <div class="change-password-column"></div>
        <div class="change-password-column message"></div>
    </div>
</div>