<div *ngIf="productDetails !== undefined && productDetails !== null" class="product-container">
    <br />
    <div class="product-row">
        <div class="product-column-title">
        </div>
        <div class ="product-column-value">
            <button (click) = "handleBackClicked()">Back to home page</button>
        </div>
    </div>
    <div class="product-row">
        <div class="product-column-title">
            Name:
        </div>
        <div class ="product-column-value">
            <input type="text" [(ngModel)]="productDetails.name" name="name" required>
        </div>
    </div>
    <div class="product-row">
        <div class="product-column-title">
            Price:
        </div>
        <div class ="product-column-value">
            <input type="text" [(ngModel)]="productDetails.price" name="price" required>
        </div>
    </div>
    <div class="product-row">
        <div class="product-column-title">
            Available:
        </div>
        <div class ="product-column-value">
            <input type="number" [(ngModel)]="productDetails.available" name="available" required>
        </div>
    </div>
    <div class="product-row">
        <div class="product-column-title">
            Archived:
        </div>
        <div class ="product-column-value">
            <input type="checkbox" [(ngModel)]="productDetails.archived" name="archived">
        </div>
    </div>
    <div class="product-row">
        <div class="product-column-title">
            Type:
        </div>
        <div class ="product-column-value">
            <select (change)="changeType($event)" [(ngModel)]="productDetails.type">
                <option *ngFor="let status of posibleStatuses">{{status}}</option>
            </select>
        </div>
    </div>
    <div class="product-row">
        <div class="product-column-title">
            Time to grow:
        </div>
        <div class ="product-column-value">
            <div class ="product-column-value">
                <input type="number" [(ngModel)]="productDetails.time_to_grow" name="time_to_grow">
            </div>
        </div>
    </div>
    <div class="product-row">
        <div class="product-column-title">
            Acceleration time:
        </div>
        <div class ="product-column-value">
            <input type="number" [(ngModel)]="productDetails.acceleration_time" name="acceleration_time">
        </div>
    </div>
    <div class="product-row">
        <div class="product-column-title">
            <button (click) = "handleUpdate()">Update</button>
        </div>
        <div class ="product-column-value">
            <div class="message" *ngIf = "message !== ''">
                {{message}}
            </div>
        </div>
    </div>
    <br />
    <div class="product-row">
        <div class="product-column-title">
            Avarage rating:
        </div>
        <div *ngIf = "productDetails.averagerating !== undefined && productDetails.averagerating !== null" style="font-weight: bolder; font-size: larger;" class ="product-column-value">
            {{productDetails.averagerating}}
        </div>
        <div *ngIf = "productDetails.averagerating === undefined || productDetails.averagerating === null" class ="product-column-value">
            No ratings yet for this product.
        </div>
    </div>
    <br />
    <div class="product-row">
        <div class="product-column-title">
            Comments:
        </div>
        <div class="product-column-value"></div>
    </div>
    <div *ngIf = "productDetails.comments !== null && productDetails.comments !== undefined">
        <div *ngFor = "let comment of productDetails.comments.split(', ')">
            <br />
            <div class ="product-row">
                <div class="product-column-comment">
                    "{{comment}}"
                </div>
            </div>
        </div>
    </div>
    <div *ngIf = "productDetails.comments === null && productDetails.comments === undefined" class ="product-column-title">
        No comments yet for this product.
    </div>
    <br />
</div>